.x-btn.trigger-action {
    background: linear-gradient(center bottom, #8baf4c 0%, #658f1a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #8baf4c),color-stop(100%, #658f1a));
    background: -moz-linear-gradient(center bottom, #8baf4c 0%, #658f1a 100%);
    background: -ms-linear-gradient(center bottom, #8baf4c 0%, #658f1a 100%);
    border-color: #646464;
    padding: 0 5px;
}

.x-btn-over.trigger-action {
    background: linear-gradient(center bottom, #779f31 0%, #496f07 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #779f31),color-stop(100%, #496f07));
    background: -moz-linear-gradient(center bottom, #779f31 0%, #496f07 100%);
    background: -ms-linear-gradient(center bottom, #779f31 0%, #496f07 100%);
}

.x-btn.trigger-action button {
    color: #fff;
    text-shadow: 0 -1px 0 #3D5F00;
}

.controlBtn {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b3d18d;
    -moz-box-shadow: 0 1px 0 #1c1c1c, 0 0 0 #585858, 0 1px 0 rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 0 #1c1c1c, 0 0 0 #585858, 0 1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 #1c1c1c, 0 0 0 #585858, 0 1px 0 rgba(255,255,255,.3);
    background-image: -moz-linear-gradient(bottom, #292929 -23.5%, #606060 123.5%);
    background-image: -o-linear-gradient(bottom, #292929 -23.5%, #606060 123.5%);
    background-image: -webkit-linear-gradient(bottom, #292929 -23.5%, #606060 123.5%);
    background-image: linear-gradient(bottom, #292929 -23.5%, #606060 123.5%);
    border: 1px solid #000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    float: left;
    margin: 0 5px 2px;
    padding: 4px 6px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition:  all 0.3s;
    transition: all 0.3s;
}
.controlBtn:hover {
    border: 1px solid #646464;
    -moz-box-shadow: 0 1px 0 #3f6b94, 0 0 0 #395265, 0 1px 0 rgba(255,255,255,.55), 0 0 2px rgba(0,0,0,.50);
    -webkit-box-shadow: 0 1px 0 #3f6b94, 0 0 0 #395265, 0 1px 0 rgba(255,255,255,.55), 0 0 2px rgba(0,0,0,.50);
    box-shadow: 0 1px 0 #3f6b94, 0 0 0 #395265, 0 1px 0 rgba(255,255,255,.55), 0 0 2px rgba(0,0,0,.50);
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition:  all 0.3s;
    transition: all 0.3s;
}

.controlBtn.remove {
    text-shadow: 0 -1px 0 #3D5F00;
    border: 1px solid #9a3232;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b3d18d;
    -moz-box-shadow: 0 1px 0 #661c1c, 0 0 0 #b53d3d, inset 0 1px 0 rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 0 #661c1c, 0 0 0 #b53d3d, inset 0 1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 #661c1c, 0 0 0 #b53d3d, inset 0 1px 0 rgba(255,255,255,.3);
    background-image: -moz-linear-gradient(bottom, #822626 -23.5%, #cd4141 123.5%);
    background-image: -o-linear-gradient(bottom, #822626 -23.5%, #cd4141 123.5%);
    background-image: -webkit-linear-gradient(bottom, #822626 -23.5%, #cd4141 123.5%);
    background-image: linear-gradient(bottom, #822626 -23.5%, #cd4141 123.5%);
}
.controlBtn.remove:hover {
    -moz-box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.55), inset 0 0 15px rgba(0,0,0,.50);
    -webkit-box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.55), inset 0 0 15px rgba(0,0,0,.50);
    box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.55), inset 0 0 15px rgba(0,0,0,.50);
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition:  all 0.3s;
    transition: all 0.3s;
}

.controlBtn.submission {
    border: 1px solid #92c9e6;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b3d18d;
    -moz-box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 #6eacce, 0 0 0 #96d4f5, inset 0 1px 0 rgba(255,255,255,.3);
    background-image: -moz-linear-gradient(bottom, #7fcbf3 -23.5%, #9fc2da 123.5%);
    background-image: -o-linear-gradient(bottom, #7fcbf3 -23.5%, #9fc2da 123.5%);
    background-image: -webkit-linear-gradient(bottom, #7fcbf3 -23.5%, #9fc2da 123.5%);
    background-image: linear-gradient(bottom, #7fcbf3 -23.5%, #9fc2da 123.5%);

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition:  all 0.3s;
    transition: all 0.3s;
}

.controlBtn.submission:hover {

}